@tailwind base;
@tailwind components;
@tailwind utilities;


@layer components{
  /* width */
::-webkit-scrollbar {
  width: 0px;
}
.scrollbar:hover::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #282828 ;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #666;
  @apply rounded-xl;


}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}  
}


li{
  height: 2.5rem;
  /* border: 1px solid red; */
  padding: 0.5rem;
  padding-left:1rem;
  width:100%;
  cursor:pointer;
}

li:hover{
  background: #666
}

html{
  scroll-behaviour: smooth;
}
/* 
* {
  border:1px solid red;
  background-color: black;
  color:green;
} */